@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.sami-dark{
    color: rgb(70, 70, 71);
}
.mediam{
    font-weight: 500;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 30vw;
    box-shadow: 0 0 10px grey;
    border-radius: 15px;

}
.image{
 
     position: relative;
}
#hero-1{
     width: 100%;
    border-radius: 15px;
}

#over-img{
    position: absolute;
    bottom: 0;
   left: 0;
    width: 100%; 
}

.content{
    padding: 20px;
}

.heading-1{
    max-width: 30vw;
    font-size: 30px;
    margin-bottom: 15px;
}

.card-footer{
    padding: 20px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer-avator > img {
    border-radius: 50%;
    border: 3px solid rgb(236, 232, 232);
}

.footer-content > h5 {
    font-size: 20px;
    margin-bottom: 8px;
}